# temp
*.tmp
*.temp

# logs
*.log

tsconfig.app.tsbuildinfo

# dependencies
node_modules/

# test coverage
coverage/

# compiled output
dist/
build/

# OS
.DS_Store

# ide settings
.vscode/
.idea/
*.swp
*.swo

# env
.env
.env.local