@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-mist-50: #f9fafb;
  --color-mist-100: oklch(96.3% 0.002 197.1);
  --color-mist-200: #e5e7eb;
  --color-mist-300: oklch(87.2% 0.007 219.6);
  --color-mist-400: #d1d5db;
  --color-mist-500: #6b7280;
  --color-mist-600: #4b5563;
  --color-mist-700: #374151;
  --color-mist-800: #1f2937;
  --color-mist-900: #111827;

  --color-amber-900: #78350f;

  --color-mauve-200: #f5f3ff;
  --color-mauve-300: #ddd6fe;
}

.dark {
  --color-white: #0f172a;
  --color-black: #f8fafc;

  --color-mauve-200: #361672;
  --color-mauve-300: #4c1d95;

  --color-mist-50: #1e293b;
  --color-mist-100: #2e3c52;
  --color-mist-200: #334155;
  --color-mist-300: #475569;
  --color-mist-400: #53647c;
  --color-mist-500: #94a3b8;
  --color-mist-600: #cbd5e1;
  --color-mist-700: #e2e8f0;
  --color-mist-800: #f1f5f9;
  --color-mist-900: #f8fafc;

  --color-amber-900: #fde68a;
}

:root {
  --border: #e5e4e7;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 18px / 145% var(--sans);
}

#root {
  width: 1326px;
  max-width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
